<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact_Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Face Recognition</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="Home">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/Attendance">Attendance</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/About">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/Contact_Us">Contact_Us</a>
            </li>

           
            
            
          </ul>
          
        </div>
      </div>
    </nav>
    <div id = "tocen">
    <h3 style="height: 40px; margin-left: 40%;"> <span id="conthas" style="color:#9400D3">Contact Us</span></h3>
    <h1 style="margin-left: 20%;"> Feel free to <span style="color:#9400D3"> get in touch</span>  with us.</h1>
      
    <p>We are here to answer any question you may have about our Face Recognition experiences. Reach out to us and we'll respond as soon as we can. </p>
    <p>Even if there is something you have always wanted to experience and can't find it on Face Recognition,let us know and we promise we'll do our best to find it for you.</p>
    <h6> vandanabasraniktl@gmail.com</h6> 
    <h6> Vandana Basrani</h6>  

    </div>
    <img src="https://content.instructables.com/ORIG/FL2/5KAS/I7MXEMQ0/FL25KASI7MXEMQ0.jpg?auto=webp&frame=1&width=320&md=633d7be542cd59fb974111b701135a1a" alt="Smiley face" width="200" style = "margin-left : 400px";style="float:right">
    
   
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style>
        #tocen{
            margin-left: 10%;
            margin-right: 10%;
        }

    </style>
  </body>
</html>  