{% extends "layout.html" %}

{% block title %}
    Short Created
{% endblock %}

{% block main %}

{% for row in images|batch(3, '') %}
  <div class="row">
  {% for column in row %}
    {% if column != '' %}
      <div class="col-sm">
        <div id="menu">
          <img src="{{"https://i.imgur.com/" ~ column.imgur_id ~ ".png"}}">
          <label>ID: {{column.imgur_id}}</label>
          <label>Creation Date: {{moment(column.creation_date).format('Do MMM YYYY h:mm:ss A')}}</label>
          <label>Longitude: {{column.longitude}}</label>
          <label>Latitude: {{column.latitude}}</label>
        </div>
      </div>
    {% else %}
      <div class="col-sm">
      </div>
    {% endif %}
  {% endfor %}
  </div>
{% endfor %}

{% endblock %}
